{% trans_default_domain "site" %}
{% extends 'site/layout.html.twig' %}

{% block stylesheets %}
	{% embed 'site/core/stylesheets.html.twig' %}
		{% block page_stylesheets %}
			{{ encore_entry_link_tags('site_homepage') }}
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block content_title %}
	<h1>{% trans %}Welcome on Tutoriux{% endtrans %} ! <small>{% trans %}Alpha Version{% endtrans %}</small></h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<div class="portlet light intro">
				<div class="portlet-body clearfix">
					{{ render_esi(controller('App\\Controller\\Site\\TextController::displayTextById', { 'textId': 43 })) }}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="portlet light need-help">
				<div class="portlet-body clearfix">
					{{ render_esi(controller('App\\Controller\\Site\\TextController:displayTextById', { 'textId': 44 })) }}
				</div>
			</div>
		</div>
	</div>

	{{ render_esi(controller('App\\Controller\\Site\\TextController:DisplayTexts')) }}

{% endblock %}

{% block javascripts %}
	{% embed 'site/core/javascripts.html.twig' %}
		{% block page_scripts %}
			{{ encore_entry_script_tags('site_homepage') }}
		{% endblock %}
	{% endembed %}
{% endblock %}