{% trans_default_domain "site" %}
<!DOCTYPE html>

<html lang="{{ app.request.locale }}" class="no-js">
<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ render(controller('App\\Controller\\Site\\NavigationController::pageTitle')) }}{% endblock %}</title>

		{% block metas %}
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			{% include 'site/core/metas.html.twig' %}
		{% endblock %}

		{% block og_metas %}
			{% include 'site/core/open_graph_metas.html.twig' %}
		{% endblock %}

		{% block stylesheets %}
			{% include 'site/core/stylesheets.html.twig' %}
		{% endblock %}

		{% include 'globals/favicon.html.twig' %}

		{{ encore_entry_script_tags('global_docready') }}
	</head>

	<body{% block body_attr %} id="{{ get_bundle_name() }}_bundle" class="{{ get_controller_name() }}_controller {{ get_action_name() }}_action page-header-menu-fixed"{% endblock %}>
	{% block body %}

		{% block header %}
			{% include 'site/core/header.html.twig' %}
		{% endblock %}

		{% block wrapper %}
			<!-- BEGIN CONTAINER -->
			<div class="page-container">

				{% block page_head %}
					<!-- BEGIN PAGE HEAD -->
					<div class="page-head">
						<div class="container">
							<!-- BEGIN PAGE TITLE -->
							<div class="page-title">
								{% block content_title '' %}
							</div>
							<!-- END PAGE TITLE -->
						</div>
					</div>
					<!-- END PAGE HEAD -->
				{% endblock page_head %}

				<!-- BEGIN PAGE CONTENT -->
				<div class="page-content">
					<div class="container">
						<main role="main">

							<!-- BEGIN PAGE BREADCRUMB -->
							{% block breadcrumbs %}
								{{ render(controller('App\\Controller\\Site\\NavigationController::breadcrumbs')) }}
							{% endblock %}
							<!-- END PAGE BREADCRUMB -->

							{% block flash_message %}
								{% include 'globals/flash_message.html.twig' %}
							{% endblock %}

							<!-- BEGIN PAGE CONTENT INNER -->
							<div class="row">
								<div class="col-md-12 col-sm-12">
									{% block content '' %}
								</div>
							</div>
							<!-- END PAGE CONTENT INNER -->
						</main>

					</div>
				</div>
				<!-- END PAGE CONTENT -->

			</div>
			<!-- END CONTAINER -->
		{% endblock wrapper %}

		{% include 'site/core/footer.html.twig' %}

	{% endblock body %}

	{% block javascripts %}
		{% include 'site/core/javascripts.html.twig' %}
	{% endblock %}

	{% block modals %}
		{% include 'globals/modals.html.twig' %}
		{% include 'site/search/search_engine.html.twig' %}
	{% endblock %}

	{% block analytics %}
		{% include 'site/core/analytics.html.twig' %}
	{% endblock %}

	</body>
</html>