{% trans_default_domain 'cms' %}
{% extends 'cms/layout.html.twig' %}

{% block content_title %}
	<h3 class="page-title">{% trans %}Sections List{% endtrans %}</h3>
{% endblock %}

{% block content_main %}

	<div class="row margin-bottom-20">
		<div class="col-md-12">
			<a class="btn btn-sm green" href="{{ path('cms_section_root_edit') }}"><i class="fa fa-plus-square"></i> {% trans %}Add a section{% endtrans %}</a>
		</div>
	</div>

	{% for navigation in navigations %}
		{% if navigation.sectionNavigations|length %}
			{% include 'cms/section/root/list_table.html.twig' with {
				'entities': navigation.sectionNavigations,
				'title': navigation|capitalize|trans,
				'tableId': navigation.id,
				'entityType': 'sectionNavigation'
			} %}
		{% endif %}
	{% endfor %}

	{% if withoutNavigation %}
		{% include 'cms/section/root/list_table.html.twig' with {
			'entities': withoutNavigation,
			'title': 'Without navigation'|trans,
			'tableId': 'without-navigation',
			'entityType': 'section'
		} %}
	{% endif %}

{% endblock content_main %}

{#{% block stylesheets %}#}
{#	{{ parent() }}#}
{#	{% include 'globals/datatables/stylesheets.html.twig' %}#}
{#{% endblock %}#}

{#{% block javascripts %}#}
{#	{{ parent() }}#}
{#	{% include 'globals/datatables/javascripts.html.twig' %}#}

{#	<script>#}
{#		$(function(){#}
{#			Tutoriux.initDataTable({#}
{#				"sortIgnore": [4],#}
{#				"searchIgnore": [2,4],#}
{#				"stripHtmlTags": [0]#}
{#			});#}
{#		});#}
{#	</script>#}

{#{% endblock %}#}

{% block stylesheets %}
	{% embed 'cms/core/stylesheets.html.twig' %}
		{% block page_stylesheets %}
			{{ encore_entry_link_tags('cms_app_datatable') }}
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block javascripts %}
	{% embed 'cms/core/javascripts.html.twig' %}
		{% block page_scripts %}
			{{ encore_entry_script_tags('cms_app_datatable') }}
			<script>
				jQuery(document).ready(function() {
					$(function(){
						Tutoriux.initDataTable({
							"sortIgnore": [4],
							"searchIgnore": [2,4],
							"stripHtmlTags": [0]
						});
					});
				});
			</script>
		{% endblock %}
	{% endembed %}
{% endblock %}