{% trans_default_domain "cms" %}
{% extends 'cms/layout.html.twig' %}
{% form_theme form 'cms/core/form/form_fields_vertical.html.twig' %}

{% block content_title %}
    <h3 class="page-title">{% include 'globals/entity_title.html.twig' with { 'entity': entity } %}</h3>
{% endblock %}

{% block content_main %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="portlet box grey-silver">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-lock"></i>
                        {% trans %}Locale{% endtrans %}
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">

                        <div class="form-group">
                            {{ form_widget(form.active) }}
                            {{ form_label(form.active) }}
                        </div>

                        {{ form_row(form.name) }}

                        {{ form_row(form.code) }}

                        {{ form_rest(form) }}

                    </div>
                    {% block edit_actions %}
                        {% include 'cms/core/edit_actions.html.twig' with {
                            'entity': entity,
                            'delete_route': path(entity.route('delete'), entity.routeParams),
                            'delete_check_route': path('cms_locale_delete_check', { 'id': entity.id ?: 0 }),
                            'cancel_route': path('cms_locale')
                        } %}
                    {% endblock %}
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock content_main %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            var $localeCode = $('#locale_code');

            $localeCode.change(function(){
                var localeCode = $(this).val();

                // The default locale do not use code a prefix in the routing (JMS prefix_except_default strategy)
                if (localeCode == '{{ default_locale }}') {
                    localeCode = '';
                }

                var $urlPattern = $localeCode.next('.help-block');
                $urlPattern.html($urlPattern.html().replace(/[^/]*$/, localeCode));
            });

            $localeCode.trigger('change');
        });
    </script>
{% endblock %}