{% trans_default_domain "site" %}
{% extends 'site/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% include 'global/datatables/stylesheets.html.twig' %}
	{% stylesheets
		'bundles/system/assets/admin/pages/css/profile.css'
	%}
	<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content_title %}
	<h1>
		{{ user }}
	</h1>
{% endblock %}

{% block content %}
	<!-- BEGIN PAGE CONTENT INNER -->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PROFILE SIDEBAR -->
			{% include 'site/user/_author_profile_sidebar.html.twig' with {'user': user, 'page': 'overview'} %}
			<!-- END PROFILE SIDEBAR -->
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				{{ render(controller('App\\Controller\\Site\\User\\UserController:profileModule', { 'mappingCode': '_profile_module' })) }}
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
	<!-- END PAGE CONTENT INNER -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'global/datatables/javascripts.html.twig' %}
	{% javascripts
		'bundles/system/frontend/js/user/users.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>
		$(function(){
			TutoriuxUsers.initProfile();
		});
	</script>
{% endblock %}