{% trans_default_domain "site" %}
{% extends 'site/security/layout.html.twig' %}
{% form_theme form 'site/core/form/form_fields_vertical.html.twig' %}

{% block content_main %}

    <div class="content">

        {{ form_start(form, {'action':path('site_user_password_lost_change', {'id': id, 'key':key}), 'attr':{'id':'reset-password-form'}}) }}
            {{ form_errors(form) }}

            <h3 class="form-title">{% trans %}Reset password{% endtrans %}</h3>

            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                    <span>
                        {% trans %}Enter your username and new password{% endtrans %}.
                    </span>
            </div>

            <p>
                {% trans %}Enter your username and new password bellow.{% endtrans %}
            </p>

            {{ form_row(form.username, {'icon': 'fa fa-user'}) }}
            {% for field in form.password %}
                {% set icon = (loop.first) ? 'fa fa-lock' : 'fa fa-check' %}
                {{ form_row(field, {'icon': icon, 'attr':{'autocomplete': 'off'}}) }}
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn green pull-right">
                    {% trans %}Save{% endtrans %} <i class="m-icon-swapright m-icon-white"></i>
                </button>
                <div class="clearfix"></div>
            </div>

        {{ form_end(form) }}

    </div>

{% endblock %}